[user]
	name = Kasper Wendel
	email = kasper.wendel@postnl.nl

[alias]
	unstage = reset
    # Remove last commit but keep changes
	uncommit = reset --soft HEAD~1
	# Display tree-like git log
    lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
    # Add change without editing msg
    oops = commit --amend --no-edit
    reword = commit --amend
    # Remove file(s) from Git but not from disk
    untrack = rm --cache --


[core]
	autocrlf = input
	editor = vim
	# Don't paginate output by default
	pager = diff-so-fancy | less --tabs=4 -RFX
    # Global ignore file (not shared)
    excludesfile = ~/.gitignore.global
    # Global shared hooks directory
    # hooksPath = ~/.githooks

[push]
    # Default push should only push the current branch to its push target, regardless of its remote name
    default = upstream

[grep]
	lineNumber = true

[interactive]
	singlekey = true
	diffFilter = diff-so-fancy --patch

[log]
    # Use abbrev SHAs whenever possible/relevant instead of full 40 chars
    abbrevCommit = true

[diff]
	mnemonicprefix = true
	rename = copy
	#tool=

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[diff-so-fancy]
	markEmptyLines = false
